//Definition of all styles
.cardConnection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
    min-width: 300px;
    max-width: 30%;
    padding: 30px;
    text-align: center;
    margin: 30px;
    
    .formConnection{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }
}

.test{
    margin: auto;
    width: auto;
}