.invitation-paper{
    padding: 20px;

    &__title{
        display: flex;
        justify-content: space-between;
    }

    &__buttons{
        display: flex;
        justify-content: flex-end;
    }
}