//Definition of all styles
.cardInscript{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
    min-width: 300px;
    max-width: 30%;
    padding: 30px;
    height: 500px;
    text-align: center;
    margin: 30px;
    
    .formRegistration{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }

    .checkboxMJ{
        justify-content: center;
    }
}
